@use 'variaveis';

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 2vw 5vw;

    &__content {
        align-content: center;
        
        p {
            text-align: right;
            color: variaveis.$corSecundaria;

            @media (max-width: variaveis.$mobile) {
                margin-left: 100px;
            }
        }            
    }

    img {
        border: 15px double variaveis.$corSecundaria;
        border-radius: 3px;
        max-width: 100%;
        margin-left: 24px;

        @media (max-width: variaveis.$mobile) {
            margin-left: 0;
        }
    }

    .text {
        padding: 40px 40px 0;
        line-height: 200%;
    }
}