@use 'variaveis';

.characters {
    padding: 5vw;

    &__title {
        text-align: center;
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__card {
        width: 300px;
        cursor: pointer;
        padding: 50px 30px;
        transition: all 0.6s;

        @media (max-width: variaveis.$mobile) {
            width: 400px;
        }

        &:hover {
            transform: scale(1.3);
        }

        &__image {
            width: 100%;
            border-radius: 5px;
            border: 3px double variaveis.$corSecundaria;
            transition: all 0.6s;
        }

        &__content {
            text-align: center;
            padding: 16px;

            h4 {
                font-size: 24px;
            }

            h5 {
                font-size: 18px;
                padding: 8px 0;
                color: variaveis.$corExtra;
            }
        }  
    }
}