@use 'variaveis';

.footer {
    padding: 2vw 5vw;

    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        p {
            padding: 40px 0 8px;
            color: variaveis.$corTextoSecundario;
        }
    }

    &__image {
        width: 190px;
    }

    &__links {
        display: flex;
        justify-content: center;
        margin: 20px 0;

        &__item {
            list-style: none;

            a {
                text-decoration: none;
                padding: 20px;           
            }
        }
    }
}
