@use 'variaveis';

.hero {
    padding: 5vw;
    min-height: 80vh;
    background-image: url(../images/hero_desktop_menor.png);
    background-size: cover;
    background-position: 60% top;
    text-align: center;

    @media (max-width: variaveis.$mobile) {
        background-image: url(../images/hero_smartphone_2.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
    }

    &__content {
        color: variaveis.$corTextoPrincipal;
        display: flex;
        flex-direction: column;
        max-width: 350px;
        margin: 100px 0;

        @media (max-width: variaveis.$tablet) {
            max-width: 250px;
            margin: 90px 0 30px;
        }
        
        @media (max-width: variaveis.$mobile) {
            max-width: 350px;
            padding-top: 170px;            
        }
        

        &__title {
            letter-spacing: 8px;
            font-size: 24px;
            margin-bottom: 30px;

            &__image {
                width: 200px;
                margin: 0 auto;
                padding-bottom: 8px;
            }
        }

        &__link {
            text-decoration: none;
            color: variaveis.$corSecundaria;
            font-size: 20px;
            cursor: pointer;
            margin-bottom: 60px;
            border: 3px solid transparent;

            &:hover {
                border: 3px solid variaveis.$corExtra;
            }
        }

        img:last-child {
            width: 100px;
            margin: 0 auto;            
        }
    }
}