@use 'variaveis';

.seasons {
    padding: 2vw 5vw;

    &__title__image {
        width: 100px;
    }
    
    &__tabs {
        display: flex;
        justify-content: center;
    
        &__button {
            background-color: variaveis.$corPrincipal;
            font-size: 32px;
            border: none;
            margin: 0 24px 100px;
            cursor: pointer;
            padding: 16px;
            border-top: 10px solid transparent;
            
            &--is-active{
                border: 10px solid red;
            }
        }
    }
    
    &__list {
        display: none;
        justify-content: space-around;
        
        &--is-active {
            display: flex;
        }

        &__itens {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            list-style: none;
            align-content: center;

            .video {
                align-content: center;
            }
            
            img {
                border-radius: 8px;
                max-width: 100%;

            }

            iframe {
                border: 3px solid white;
                width: 550px;
                height: 400px;
            }

            h3 {
                padding-bottom: 20px;
                font-size: 24px;
                letter-spacing: 4px;
            } 
        }
    }
}

