@use 'variaveis';

.seasons {
    padding: 2vw 5vw;
    text-align: center;
    
    &__tabs {
        &__button {
            background-color: variaveis.$corPrincipal;
            font-size: 18px;
            border: none;
            margin: 0 24px 100px;
            cursor: pointer;
            padding: 16px;
            border-top: 10px solid transparent;

            @media (max-width: variaveis.$mobile) {
                margin-left: 0;
            }
            
            &--is-active{
                border: 8px solid variaveis.$corExtra;
            }
        }
    }
    
    &__list {
        display: none;
        list-style: none;
        
        &--is-active {
            display: block;
        }

        &__image {
            img {
                width: 100%;
                border-radius: 8px;  
            }
        }

        &__video {
            h3 {
                letter-spacing: 5px;
                text-align: center;
                padding: 24px 0;
                color: variaveis.$corExtra;
                text-transform: uppercase;
            }

            iframe {
                @media (max-width: variaveis.$mobile) {
                    width: 300px;
                    height: auto;
                }
            }
        }
    }
}