.seasons {
    padding: 2vw 5vw;
    
    &__list {
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        &--is-active {
            display: grid;
        }


        &__itens {
            margin: 0 auto;

            img {
                border-radius: 8px;
                max-width: 100%;
                
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: space-around;

        &__button {
            background-color: #000;
            color: white;
            font-size: 32px;
            border: none;
            margin-left: 4vw;
            margin-bottom: 40px;
            cursor: pointer;
            border-top: 10px solid transparent;
            
            &--is-active{
                border-top: 10px solid red;
            }
        }
    }
}